* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.landing {
    width: 100%;
    height: 100vh;
    background: cornsilk;
    background-size: cover;
}

nav {
    height: 50px;
    background: aquamarine;
    position: relative;
}

h1 {
    margin-left: 5%;
    color: #000;
    width: 270px;
    float: left;
    font-size: 28px;
    line-height: 50px;
}

nav ul {
    float: right;
    margin-right: 5%;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
}

nav ul li a {
    position: relative;
    padding: 5px 0;
    color: #000;
    font-size: 16px;
    margin-left: 70px;
    font-family: monospace;
    letter-spacing: 0.5px;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 2px solid orange;
    border-radius: 3px;
}

.img-1, .img-2 {
    width: 30px;
    float:  right;
    margin-top: 10px;
    cursor: pointer;
    display: none;
    margin-right: 5%;
}

#menu{
    display: none;
}

@media (max-width: 996px){
    label .img-1 {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: aquamarine;
        padding-top: 15%;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: .5s;
    }
    nav ul li {
        display:  block;
        line-height: 55px;
        font-weight: bold;
    }
    nav ul li a {
        font-size: 20px;
        margin-left: 0;
        color: black;
    }
    #menu:checked ~ ul {
        left: 0;
    }
    #menu:checked ~ label .img-1{
        display: none;
    }

    #menu:checked ~ label .img-2{
        display: block;
    }
}